<% if @comment.recipe %>
<h1>New Comment for <%= @comment.recipe.name %>!</h1>
<% else %>
<h1>New Comment!</h1>
<% end %>

<%= render partial: "layouts/errors", locals: {object: @comment} %>

<%= form_for([@comment.recipe, @comment]) do |f|%>
<% if !@comment.recipe %>
  <br><%= f.label :recipe %></br>
  <%= f.collection_select :recipe_id, Recipe.all, :id, :name %>
<% else %>
    <%= f.hidden_field :recipe_id %>
<% end %>
<br></br>
  <br><%= f.label :content %></br>
  <%= f.text_area :content %>
  <br><%= f.submit %></br>
<% end %>