<h1><%= @recipe.name %></h1>
<h2>By <%= @recipe.user.username %></h2>

<div>Ingredients: <%= @recipe.ingredients %></div>
<div>Instructions: <%= @recipe.instructions %></div>
<div>Category: <%= @recipe.category.name %></div>

<% if !@recipe.comments.empty? %>
  <h4> Most Recent Comments: </h4>
  <% @recipe.comments.order(updated_at: :desc).limit(6).each do |c| %>
    <li><strong><%= c.user.name %></strong> commented "<%= link_to c.content, recipe_comment_path(@recipe, c) %>" at <%= c.updated_at.strftime("%I:%M %p on %m/%d/%Y") %></li>
  <% end %>
  <p><%= link_to "All Comments", recipe_comments_path(@recipe) %></p>
<% end %>
<p><%= link_to "Add New Comment", new_recipe_comment_path(@recipe) %></p>
<% if @recipe.user == current_user %>
  <p><%= link_to "Edit Recipe", edit_recipe_path(@recipe) %></p>
  <p><%= button_to 'Delete Recipe', recipe_path, :method => :delete %></p>
<% end %>


